pydantic
python-dotenv
langchain
langchain-openai
langchain-groq
langchain-core
langchain-community
faiss-cpu
pypdf
langchain_google_genai
langchain_huggingface
langchain-pinecone
pymupdf
pdfplumber
pytesseract
pillow
huggingface_hub
pymongo
rank_bm25
python-docx